body {
	background: #245072;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrapper {
	margin: 50px 50px;
	display: inline-block;
}
.list-group {
	margin-bottom: 0;
}
.list-group-item {
	border: 0;
	background: none;
	padding: 0px 15px;
}
.list-group-item span {
	color: #A7CBEE;
	font-size: 20px;
	line-height: 30px;
}
.list-group-item i {
	color: #87c6c9;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 30px;
	margin-right: 10px;
	cursor: pointer;
}
.list-group-item .fa-plus {
	color: #36a415;
	font-size: 20px;
	width: 20px;
	padding-bottom: 5px;
}
.list-group-item .fa-trash {
	color: #a41519;
	font-size: 20px;
	width: 20px;
	padding-bottom: 5px;
}
