<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Tree</title>
    <meta name="description" content="Demo project of javascript tree with editor">
    <meta name="keywords" content="demo javascript tree">
    <meta name="author" content="Sergey Shkibust">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 	 	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css" media="screen">
    	body {
    		background: #245072;
    	}
    	.wrapper {
    		border: #fff solid 1px;
    		margin-top: 50px;
		    display: inline-block;
    	}
    	.list-group { 
    		margin-bottom: 0;
    	}
    	.list-group-item { 
    		border: 0;
    		background: none;
		    padding: 0px 15px;
    	}
    	.list-group-item span {
    		color: #A7CBEE;
    	}
    	.list-group-item span i {
  			color: #87c6c9;
  		};
    </style>
  </head>
  <body>
  	<div class="wrapper">
			<ul class="list-group" id="tree-root" data-root="0">
				<li data-level="1" class="list-group-item">
					<span><i class="fa fa-folder-open"></i>Title</span>
					<ul class="list-group" data-root="1">
						<li class="list-group-item">
							<span><i class="fa fa-folder"></i>Title</span>
						</li>
						<li class="list-group-item">
							<span><i class="fa fa-folder-open"></i>Title</span>
							<ul class="list-group">
								<li class="list-group-item">
									<span><i class="fa fa-folder-open"></i>Title</span>
									<ul class="list-group">
										<li class="list-group-item">
											<span><i class="fa fa-folder"></i>Title</span>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span><i class="fa fa-folder"></i>Title</span>
						</li>
					</ul>
				</li>
				<li class="list-group-item">
					<span><i class="fa fa-folder"></i>Title</span>
				</li>
			</ul>
		</div>
		<script data-main="/app" src="/js/require.js"></script>
		<script id="treeElement" type="text/template">
			<li class="list-group-item">
				<span><i class="fa fa-folder"></i><%=title%></span>
				<% if (root > 0) { %>
				<ul class="list-group" data-root="<%=root%>"></ul>
				<% } %>
			</li>
		</script>
		<script>
			requirejs.config({
			 	baseUrl: 'js',
				waitSeconds: 500,
				shim: {
			  	underscore: {
    				exports: '_'
  				}
  			}
			});
		</script>
  </body>
</html>
