<% _.each(data,function(element) { %>
    <li class="list-group-item" data-id="<%=element.id%>">
      <i class="fa fa-folder"></i>
      <span><%=element.title%></span>
      <i class="fa fa-plus"></i>
      <i class="fa fa-trash"></i>
      <ul class="list-group" data-parent="<%=element.id%>"></ul>
    </li>
<% }); %>
