<ul data-parent="0" class="list-group">
	<% _.each(data,function(element) { %>
	  <%  if(element.parent == 0) { %>
	    <li class="list-group-item  <% if(element.state) { %>open<% } %>" data-id="<%=element.id%>">
	      <i class="fa fa-caret-square-o<% if(element.state) { %>-down<% } else {%>-right<% } %>"></i>
	      <span class="label label-default"><%=element.children.length%></span>
	      <span class="text"><%=element.title%></span>
	      <i class="fa fa-plus"></i>
	      <ul class="list-group" data-parent="<%=element.id%>"></ul>
	    </li>
	  <% } %>
	<% }); %>
</ul>
